.atropos {
  position: relative;
  display: block;
  perspective: 1200px;
  transform: translate3d(0, 0, 0);
}
.atropos-rotate-touch, .atropos-rotate-scroll-x, .atropos-rotate-scroll-y {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none;
}
.atropos-rotate-touch-scroll-y {
  touch-action: pan-y;
}
.atropos-rotate-touch-scroll-x {
  touch-action: pan-x;
}
.atropos-rotate-touch {
  touch-action: none;
}

.atropos-scale,
.atropos-rotate {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-property: transform;
  display: block;
}

.atropos-shadow,
.atropos-highlight {
  position: absolute;
  pointer-events: none;
  transition-property: transform, opacity;
  display: block;
  opacity: 0;
}

.atropos-shadow {
  z-index: -1;
  background: #000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}

.atropos-highlight {
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(circle at 50%, rgba(255, 255, 255, 0.25), transparent 50%);
  z-index: 0;
}

.atropos-rotate {
  position: relative;
}

.atropos-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  display: block;
}

.atropos-active {
  z-index: 1;
}
.atropos-active .atropos-shadow {
  opacity: 1 !important;
}

[data-atropos-offset] {
  transition-property: transform;
}

[data-atropos-opacity] {
  transition-property: opacity;
}

[data-atropos-offset][data-atropos-opacity] {
  transition-property: transform, opacity;
}

[data-theme=dark] {
  --primary-color: #00CC66;
  --primary-color-hover: #009939;
  --secondary-color: #C57C00;
  --secondary-color-hover: #f7a31d;
  --bg-color: rgb(31 41 55);
  --bg-color-hover: rgb(41 51 65);
  --always-white: #fff;
  --text-color: #fff;
  --shadow-color: rgba(210, 210, 210, 0.2);
  --soft-white: #bababa;
}

[data-theme=light] {
  --primary-color: #009939;
  --primary-color-hover: #00CC66;
  --secondary-color: #f7a31d;
  --secondary-color-hover: #C57C00;
  --bg-color: #f7f7f7;
  --bg-color-hover: #ddd;
  --always-white: #fff;
  --text-color: #000;
  --shadow-color: rgba(100, 100, 111, 0.2);
  --soft-white: #555;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-family: "Allura", cursive;
}

h4 {
  font-size: 1.5rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
  opacity: 0.8;
}

a,
button {
  cursor: pointer;
}

svg {
  width: 1.25rem;
  height: 1.25rem;
}

img {
  max-width: 100%;
}

input {
  max-width: 100%;
  height: 48px;
  padding-left: 1rem;
  outline: none;
  border: none;
}

main {
  margin-top: 80px;
}

::placeholder {
  color: #555;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  gap: 1rem;
}

.block {
  display: block;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.absolute {
  position: absolute;
}

.shadow-atropos, .tour .card:hover, .tours .card:hover {
  box-shadow: var(--shadow-color) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.flex-grow {
  flex-grow: 1;
}

.w-full {
  width: 100%;
}

.scale-200 {
  transform: scale(1.1);
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.mt-1 {
  margin-top: 1rem;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 0;
  z-index: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 0rem 1rem;
}

.inline-flex {
  display: inline-flex;
}

.font-bold {
  font-weight: bold;
}

.rotate-180 {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.gradient::after {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 100%, rgba(0, 0, 0, 0.75) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn {
  padding: 0.5rem 0.65rem;
  background: none;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: var(--text-color);
}

.btn-primary {
  background: linear-gradient(to left, var(--primary-color-hover), var(--primary-color));
  padding: 1rem 1.5rem;
  color: var(--always-white);
  border: none;
  transition: transform 0.1s ease-in-out;
}
.btn-primary:hover {
  transform: scale(1.1);
  background: linear-gradient(to left, var(--primary-color), var(--primary-color));
}
.btn-primary svg {
  padding-left: 0.5rem;
}

.btn-secondary {
  background: transparent;
  padding: 1rem 1.5rem;
  color: var(--text-color);
  border: none;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  margin: 0;
}

.subtitle {
  color: var(--primary-color);
  margin: 0;
}

.flex-col-sm {
  flex-direction: column;
}

.shadow, .newsletter input[type=submit]:hover, .btn-primary:hover {
  box-shadow: var(--shadow-color) 1.95px 1.95px 2.6px;
}

.relative {
  position: relative;
}

.logo svg {
  width: 6rem;
  height: 3rem;
  fill: var(--primary-color);
}

.main-header {
  z-index: 50;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.main-header .logo {
  transition: transform 0.3s ease-in-out;
}
.main-header .logo:hover {
  transform: scale(1.05);
}
.main-header .menu {
  order: 2;
}
.main-header .menu__button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  background: none;
  border: none;
  color: var(--text-color);
}
.main-header .menu__button svg {
  width: 1.25rem;
  height: 1.25rem;
}
.main-header .menu__items {
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color-hover);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  width: 70%;
  transition: opacity 0.3s, width 0.5s;
}
.main-header .menu__items.show {
  opacity: 1;
  pointer-events: initial;
  width: 100vw;
}
.main-header .menu__items > ul {
  z-index: 99;
  padding: 1rem 0;
}
.main-header .menu__items > ul a,
.main-header .menu__items > ul button {
  padding: 0.75rem;
  color: var(--text-color);
}
.main-header .menu__items > ul a:hover,
.main-header .menu__items > ul button:hover {
  color: var(--primary-color);
}
.main-header .menu__items > ul button {
  background: none;
  border: none;
  border-radius: 0.25rem;
}
.main-header .menu__items > ul button svg {
  height: 0.6rem;
  width: 0.6rem;
  margin-left: 0.5rem;
  transition: transform 0.1s ease-in-out;
}
.main-header .menu .dropdown-menu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background-color: var(--bg-color-hover);
  width: auto;
  box-shadow: var(--shadow-color) 0px 3px 8px;
}
.main-header .menu .dropdown-menu div {
  border-bottom: 1px solid var(--primary-color);
}
.main-header .menu .dropdown-menu a {
  font-weight: 400;
  font-size: 0.9rem;
}
.main-header .menu .dropdown-menu.show {
  opacity: 1;
  pointer-events: initial;
}
.main-header .menu .btn-theme {
  display: none;
}
.main-header .menu .btn-theme svg {
  width: 2rem;
  height: 2rem;
  display: none;
}
.main-header .menu a {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.main-header #icon-moon,
.main-header #icon-sun {
  stroke: var(--primary-color);
}
.main-header #icon-moon.hide,
.main-header #icon-sun.hide {
  display: none;
}
.main-header .buttons button:first-child {
  padding: 0.6rem 0.65rem;
}
.main-header .btn-whatsApp {
  background-color: var(--primary-color);
  margin-left: 0.5rem;
}
.main-header .btn-whatsApp svg {
  stroke: var(--always-white);
  fill: var(--always-white);
}

@media (min-width: 768px) {
  .main-header .menu {
    order: initial;
  }
  .main-header .menu__button {
    display: none;
  }
  .main-header .menu__items {
    position: relative;
    top: 0;
    display: block;
    width: initial;
    opacity: 1;
    pointer-events: initial;
    background: none;
  }
  .main-header .menu__items.show {
    width: initial;
  }
  .main-header .menu__items > ul {
    padding: 0;
    margin-top: 0;
    border: none;
    width: 100%;
  }
  .main-header .menu__items > ul a,
  .main-header .menu__items > ul button {
    padding: 0.5rem 1.25rem;
  }
  .main-header .menu__items > ul a.active,
  .main-header .menu__items > ul button.active {
    color: var(--primary-color);
  }
  .main-header .menu__items > ul a:hover,
  .main-header .menu__items > ul button:hover {
    background-color: transparent;
  }
  .main-header .menu .logo {
    border: none;
    padding: 0;
  }
  .main-header .menu .dropdown-menu {
    overflow: hidden;
    border-radius: 0.5rem;
    transform: translateY(1rem);
    transition: transform 0.3s ease, opacity 0.3s ease-in-out;
    padding: 0.5rem 0;
  }
  .main-header .menu .dropdown-menu.show {
    transform: translateY(0);
  }
  .main-header .menu .dropdown-menu li:hover {
    opacity: 0.7;
  }
}
.hero {
  min-height: calc(100vh - 80px);
  overflow: hidden;
}
.hero img,
.hero .text {
  position: absolute;
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}
.hero img {
  pointer-events: none;
}
.hero img.bg-main {
  object-fit: cover;
  height: 105%;
  min-width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}
.hero img.bg-front {
  left: 50%;
  min-width: 110%;
  height: 25%;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 7;
}
.hero img.fog-1 {
  min-width: 100%;
  left: 25%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.hero img.bg-mid {
  z-index: 6;
  left: 27%;
  top: 80%;
  transform: translate(-50%, -50%);
}
.hero img.bg-right {
  left: 92%;
  top: 85%;
  transform: translate(-50%, -50%);
  z-index: 6;
}
.hero img.fog-3 {
  left: 50%;
  min-width: 130%;
  bottom: -60%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.hero img.fog-2 {
  transform: translate(-50%, -50%);
  bottom: -60%;
  min-width: 110%;
  left: 50%;
  z-index: 8;
}
.hero .text {
  z-index: 10;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 40%;
  text-transform: uppercase;
  position: absolute;
  font-size: 0.9rem;
  transform: translate(-50%, -50%);
  color: var(--always-white);
  text-shadow: 2px 5px 10px #000;
}
.hero .text span {
  color: var(--secondary-color);
}

.why-ous .grid {
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  gap: 2rem;
}
.why-ous .atropos {
  max-width: 500px;
  margin: 0 auto;
}
.why-ous .atropos-inner.shadow, .why-ous .newsletter input.atropos-inner[type=submit]:hover, .newsletter .why-ous input.atropos-inner[type=submit]:hover, .why-ous .atropos-inner.btn-primary:hover {
  box-shadow: var(--shadow-color) 0px 7px 29px 0px;
  transition: all 0.3s;
}
.why-ous .card {
  position: relative;
  cursor: pointer;
  color: var(--secondary-color);
}
.why-ous .card__icon {
  position: absolute;
  max-width: 3rem;
  border-radius: 50%;
  left: 50%;
  padding: 1rem;
  margin: 0 auto;
  transform: translate(-50%, -70%);
  background-color: #fff;
}
.why-ous .card__content {
  padding: 1rem;
}

.tours .grid {
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 2rem;
}
.tours .card {
  box-shadow: var(--shadow-color) 0px 7px 29px 0px;
  transition: all 0.3s ease-in-out;
}
.tours .card:hover {
  transform: translateY(-0.75rem);
}
.tours .card__header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 18%, rgba(0, 0, 0, 0) 100%);
}
.tours .card__header:hover img {
  transform: scale(1.25);
}
.tours .card__header img {
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}
.tours .card__header__footer {
  bottom: 1rem;
  left: 1rem;
  color: var(--always-white);
  pointer-events: none;
  z-index: 10;
}
.tours .card__header__footer p {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.tours .card__header__footer svg {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
}
.tours .card__header__footer .stars {
  margin-right: 0.5rem;
}
.tours .card__body ul {
  margin: 0;
  font-size: 0.9rem;
}
.tours .card__body li {
  padding: 1rem;
  flex-grow: 1;
  border-bottom: 1px solid var(--secondary-color);
}
.tours .card__body li:not(:last-child) {
  border-right: 1px solid var(--secondary-color);
}
.tours .card__body li span {
  margin-left: 0.25rem;
}
.tours .card__body .price p {
  color: var(--primary-color);
  font-size: 1.75rem;
  margin: 0;
  font-weight: 900;
}
.tours .card__body .price span {
  font-weight: 300;
  margin-left: 0.25rem;
}
.tours .card__body .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.newsletter {
  padding: 6rem 0;
  background: url("https://assets.website-files.com/62b01487555313003b71f4f1/62b1dcd838a6a72c8af9159e_gaetano-cessati-mlGM03fKONE-unsplash%20(1)%20(1)%20(1)%20(1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.newsletter .container {
  gap: 2rem;
}
.newsletter h2 {
  color: var(--always-white);
}
.newsletter form {
  margin-top: 2rem;
}
.newsletter .form__content {
  max-width: 35rem;
  margin: 0 auto;
}
.newsletter .form-group {
  position: relative;
  flex-basis: 60%;
}
.newsletter .form-group label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(1rem, 1rem);
  z-index: 10;
  font-size: 1rem;
  color: #555;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.newsletter input[type=email] {
  border-radius: 0.5rem 0 0 0.5rem;
  flex-grow: 1;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
.newsletter input[type=email]:valid ~ label, .newsletter input[type=email]:focus ~ label {
  transform: translate(0.25rem, -1.25rem);
  color: var(--always-white);
  font-size: 0.9rem;
}
.newsletter input[type=submit] {
  height: 50px;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  flex-grow: 1;
}
.newsletter input[type=submit]:hover {
  transform: none;
  background: linear-gradient(to left, var(--primary-color), var(--primary-color));
}

.tabs nav {
  max-width: 800px;
  margin: 0 auto;
}
.tabs__container {
  border-radius: 0.5rem;
}
.tabs__container .grid {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  margin-bottom: 2rem;
  max-width: 520px;
  margin: 2rem auto;
}
.tabs__container button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 4rem;
  font-family: "Poppins", sans-serif;
  color: var(--soft-white);
}
.tabs__container button span {
  letter-spacing: 5px;
  pointer-events: none;
}
.tabs__container button svg {
  width: 2rem;
  height: 2rem;
  padding-bottom: 0.5rem;
  pointer-events: none;
}
.tabs__container button.active {
  background: linear-gradient(to left, var(--primary-color-hover), var(--primary-color));
  color: var(--always-white);
}
.tabs__item {
  background-color: var(--always-white);
  color: #000;
  display: none;
}
.tabs__item.active {
  display: block;
}
.tabs__img {
  align-self: stretch;
}
.tabs__img img {
  object-fit: cover;
}
.tabs__content {
  padding: 1rem;
}
.tabs__content h4 {
  margin: 1rem 0;
}
.tabs__content p {
  opacity: 0.7;
  max-width: 32rem;
}
.tabs .shadow, .tabs .btn-primary:hover, .tabs .newsletter input[type=submit]:hover, .newsletter .tabs input[type=submit]:hover {
  box-shadow: var(--shadow-color) 0px 3px 8px;
}

@media (min-width: 768px) {
  .hero img.bg-main {
    object-fit: unset;
  }
  .hero img.bg-mid {
    top: 85%;
  }
  .hero .text {
    font-size: 1.25rem;
  }
  .tours .card__body ul {
    font-size: 1rem;
  }
  .tabs__item .flex {
    align-items: center;
  }
  .tabs__item img {
    min-height: -webkit-fill-available;
  }
}
@media (min-width: 900px) {
  .hero img.bg-front {
    height: initial;
  }
  .hero img.bg-mid {
    left: 73%;
    top: 83%;
  }
  .hero .text {
    font-size: 1.5rem;
    line-height: 4.5rem;
    top: 40%;
  }
  .tabs__container .grid {
    max-width: none;
  }
}
@media (min-width: 1024px) {
  .hero img.bg-mid {
    top: 75%;
  }
  .hero .text {
    font-size: 2rem;
    top: 37%;
  }
  .tabs__img {
    flex-basis: 50%;
  }
  .tabs__content {
    padding: 1rem 2rem;
  }
  .tabs__content h4 {
    font-size: 2rem;
  }
  .tabs__content p {
    font-size: 1.1rem;
    max-width: 35rem;
  }
}
.tour header {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 50vh;
  display: grid;
  place-content: center;
  color: var(--always-white);
}
.tour header p {
  max-width: 1000px;
  margin: 0 auto;
  opacity: 1;
}
.tour .card {
  border-radius: 0.25rem;
  overflow: hidden;
  order: -1;
  transition: all 0.3s linear;
}
.tour .card:hover {
  transform: scale(1.05);
}
.tour .card__header {
  padding: 1rem 2rem;
  background: rgb(0, 153, 57);
  background: linear-gradient(112deg, var(--primary-color) 28%, var(--primary-color-hover) 100%);
  color: var(--always-white);
}
.tour .card__header h4 {
  font-family: "Allura", cursive;
  font-size: 2.5rem;
  margin: 1rem 0;
}
.tour .card__body {
  padding: 1rem 2rem;
}
.tour .card__body h3 {
  font-family: "Poppins", sans-serif;
}
.tour .card__body p {
  opacity: 0.7;
  margin: 0.5rem 0 2rem 0;
}
.tour .card__body .price {
  font-size: 1.5rem;
}
.tour .card__body .price .old-price {
  opacity: 0.25;
  text-decoration: line-through;
  margin-right: 1rem;
}
.tour .card__body .price .new-price {
  font-weight: 900;
}
.tour .card__body .quantity p {
  margin-bottom: 0;
}
.tour .card__body hr {
  opacity: 0.25;
  margin: 0.5rem 0;
}
.tour .shadow, .tour .btn-primary:hover, .tour .newsletter input[type=submit]:hover, .newsletter .tour input[type=submit]:hover {
  box-shadow: var(--shadow-color) 0px 7px 29px 0px;
}
.tour .container > .flex {
  flex-direction: column;
  gap: 1rem;
}
.tour__buttons .grid {
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 0;
}
.tour__buttons span {
  pointer-events: none;
}
.tour__buttons nav {
  background-color: var(--bg-color-hover);
  margin: 0 auto;
}
.tour__buttons .btn {
  border-radius: initial;
}
.tour__buttons .btn.active {
  color: var(--primary-color);
}
.tour__tabs {
  transform: translateY(-1rem);
  overflow: hidden;
}
.tour__tabs h2 {
  font-size: 2rem;
}
.tour__tabs .tab__item {
  min-width: 100%;
  background: var(--bg-color-hover);
  display: none;
  height: max-content;
  padding: 1rem;
}
.tour__tabs .tab__item.active {
  display: block;
}
.tour__tabs .gallery div {
  padding: 1rem 0;
  transition: transform 0.2s ease-in-out;
}
.tour__tabs .gallery div:hover {
  transform: scale(1.05);
}
.tour__tabs #tab-4 {
  min-width: auto;
}
.tour aside {
  align-self: self-start;
}

footer {
  background-color: var(--bg-color-hover);
}
footer a {
  color: var(--primary-color);
}
footer .container {
  padding-bottom: 0.5rem;
}
footer h5 {
  font-size: 1.25rem;
  margin: 0;
}
footer ul {
  margin: 0 0 1rem 0;
}
footer ul a {
  padding: 1rem 0;
  width: 100%;
  font-weight: 900;
  position: relative;
  display: table-cell;
}
footer ul a::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 0%;
  height: 2px;
  border-radius: 5rem;
  background-color: var(--primary-color);
  transition: width 0.2s ease-in-out;
}
footer ul a:hover::after {
  width: 100%;
}
footer p {
  line-height: 1.5;
}

@media (min-width: 768px) {
  footer .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo travel" "logo application" "logo web" "copy copy";
  }
  footer .logo {
    grid-area: logo;
  }
  footer .travel {
    grid-area: travel;
  }
  footer .application {
    grid-area: application;
  }
  footer .copy {
    grid-area: copy;
  }
}
@media (min-width: 1024px) {
  footer .grid {
    gap: 2rem;
    justify-items: first baseline;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: "logo logo travel application web" "copy copy copy copy copy";
  }
}
@media (min-width: 768px) {
  .flex-col-sm {
    flex-direction: row;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  .tour header h1 {
    font-size: 3rem;
  }
  .tour header p {
    font-size: 1.25rem;
  }
  .tour__buttons .grid {
    display: flex;
  }
  .tour__buttons nav {
    margin: initial;
    max-width: fit-content;
  }
  .tour .gallery {
    columns: 2;
  }
}
@media (min-width: 1024px) {
  .flex-row-lg {
    flex-direction: row;
  }
  .tour header h1 {
    font-size: 4rem;
  }
  .tour .card {
    order: initial;
    max-width: 500px;
  }
  .tour .container > .flex {
    flex-direction: row;
  }
  .tour__tabs {
    max-width: 500px;
  }
  .tour aside {
    margin-top: 4.1rem;
  }
}
@media (min-width: 1200px) {
  .tour__tabs {
    max-width: 700px;
  }
  .tour .gallery {
    columns: 3;
  }
}
@media (min-width: 1360px) {
  .tour__tabs {
    max-width: 900px;
  }
}

/*# sourceMappingURL=main.css.map */
