.hero {
    min-height: calc(100vh - 80px);
    margin-top: 80px;
    overflow: hidden;

    img,
    .text {
        position: absolute;
        transition: 0.45s cubic-bezier(.2, .49, .32, .99);
    }

    img {
        pointer-events: none;
    }

    img.bg-main {
        object-fit: cover;
        height: 105%;
        min-width: 110%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        pointer-events: none;
    }

    img.bg-front {
        left: 50%;
        min-width: 110%;
        height: 25%;
        top: 90%;
        transform: translate(-50%, -50%);
        z-index: 7;
    }

    img.fog-1 {
        min-width: 100%;
        left: 25%;
        top: 60%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }

    img.bg-mid {
        z-index: 6;
        left: 27%;
        top: 80%;
        transform: translate(-50%, -50%);
    }

    img.bg-right {
        left: 92%;
        top: 85%;
        transform: translate(-50%, -50%);
        z-index: 6;
    }

    img.fog-3 {
        left: 50%;
        min-width: 130%;
        bottom: -60%;
        z-index: 5;
        transform: translate(-50%, -50%);
    }

    img.fog-2 {
        transform: translate(-50%, -50%);
        bottom: -60%;
        min-width: 110%;
        left: 50%;
        z-index: 8;
    }

    .text {
        z-index: 1;
        width: 100%;
        text-align: center;
        left: 50%;
        top: 44%;
        text-transform: uppercase;
        position: absolute;
        font-size: 1.5rem;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}

.why-ous {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        gap: 2rem;
    }

    .atropos-inner.shadow {
        box-shadow: var(--shadow-color) 0px 7px 29px 0px;
        transition: all .3s;
    }

    .card {
        position: relative;
        max-width: 500px;
        cursor: pointer;
        color: var(--secondary-color);


        &__icon {
            position: absolute;
            max-width: 3rem;
            border-radius: 50%;
            left: 50%;
            padding: 1rem;
            margin: 0 auto;
            transform: translate(-50%, -70%);
            background-color: #fff;
        }

        &__content {
            padding: 1rem;
        }
    }
}

.tours {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    }

    .card {
        box-shadow: var(--shadow-color) 0px 7px 29px 0px;
        transition: all .3s ease-in-out;

        &:hover {
            transform: translateY(-.75rem);
            @extend .shadow-atropos;
        }

        &__header {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, .6) 18%, rgba(0, 0, 0, 0) 100%);
            }

            &:hover img {
                transform: scale(1.25);
            }

            img {
                transition: transform .3s ease-in-out;
            }

            &__footer {
                bottom: 1rem;
                left: 1rem;
                color: var(--always-white);
                pointer-events: none;
                z-index: 10;

                p {
                    font-weight: bold;
                    font-size: 1.25rem;
                    margin-bottom: .5rem;
                }

                svg {
                    fill: var(--secondary-color);
                    stroke: var(--secondary-color);
                }

                .stars {
                    margin-right: 0.5rem;
                }
            }

        }

        &__body {

            ul {
                margin: 0;
            }

            li {
                padding: 1rem;
                flex-grow: 1;
                border-bottom: 1px solid var(--secondary-color);
            }

            li:not(:last-child) {
                border-right: 1px solid var(--secondary-color)
            }

            li span {
                margin-left: 0.25rem;
            }

            .price {
                p {
                    color: var(--primary-color);
                    font-size: 1.75rem;
                    margin: 0;
                    font-weight: 900;
                }

                span {
                    font-weight: 300;
                    margin-left: 0.25rem;
                }
            }

            .description {
                line-height: 1.5;
            }
        }

    }
}

@media (min-width: 768px) {
    .hero {
        img.bg-main {
            object-fit: unset;
        }

        img.bg-mid {
            top: 85%;
        }

        .text {
            font-size: 3rem;
        }
    }
}

@media (min-width: 900px) {
    .hero {
        img.bg-front {
            height: initial;
        }

        img.bg-mid {
            left: 73%;
            top: 83%;
        }

        .text {
            font-size: 4rem;
            line-height: 7rem;
            top: 30%;
        }
    }
}

@media (min-width: 1024px) {
    .hero {
        img.bg-mid {
            top: 75%;
        }

        .text {
            font-size: 4rem;
            line-height: 10rem;
            top: 40%;
        }
    }
}