.hero {
    min-height: calc(100vh - 80px);
    overflow: hidden;

    img,
    .text {
        position: absolute;
        transition: 0.45s cubic-bezier(.2, .49, .32, .99);
    }

    img {
        pointer-events: none;
    }

    img.bg-main {
        object-fit: cover;
        height: 105%;
        min-width: 110%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        pointer-events: none;
    }

    img.bg-front {
        left: 50%;
        min-width: 110%;
        height: 25%;
        top: 90%;
        transform: translate(-50%, -50%);
        z-index: 7;
    }

    img.fog-1 {
        min-width: 100%;
        left: 25%;
        top: 60%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }

    img.bg-mid {
        z-index: 6;
        left: 27%;
        top: 80%;
        transform: translate(-50%, -50%);
    }

    img.bg-right {
        left: 92%;
        top: 85%;
        transform: translate(-50%, -50%);
        z-index: 6;
    }

    img.fog-3 {
        left: 50%;
        min-width: 130%;
        bottom: -60%;
        z-index: 5;
        transform: translate(-50%, -50%);
    }

    img.fog-2 {
        transform: translate(-50%, -50%);
        bottom: -60%;
        min-width: 110%;
        left: 50%;
        z-index: 8;
    }

    .text {
        z-index: 10;
        width: 100%;
        text-align: center;
        left: 50%;
        top: 40%;
        text-transform: uppercase;
        position: absolute;
        font-size: .9rem;
        transform: translate(-50%, -50%);
        color: var(--always-white);
        text-shadow: 2px 5px 10px #000;

        span {
            color: var(--secondary-color);
        }
    }
}

.why-ous {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
        gap: 2rem;
    }

    .atropos {
        max-width: 500px;
        margin: 0 auto;
    }

    .atropos-inner.shadow {
        box-shadow: var(--shadow-color) 0px 7px 29px 0px;
        transition: all .3s;
    }

    .card {
        position: relative;
        cursor: pointer;
        color: var(--secondary-color);


        &__icon {
            position: absolute;
            max-width: 3rem;
            border-radius: 50%;
            left: 50%;
            padding: 1rem;
            margin: 0 auto;
            transform: translate(-50%, -70%);
            background-color: #fff;
        }

        &__content {
            padding: 1rem;
        }
    }
}

.tours {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
        gap: 2rem;
    }

    .card {
        box-shadow: var(--shadow-color) 0px 7px 29px 0px;
        transition: all .3s ease-in-out;

        &:hover {
            transform: translateY(-.75rem);
            @extend .shadow-atropos;
        }

        &__header {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, .6) 18%, rgba(0, 0, 0, 0) 100%);
            }

            &:hover img {
                transform: scale(1.25);
            }

            img {
                transition: transform .3s ease-in-out;
                object-fit: cover;
            }

            &__footer {
                bottom: 1rem;
                left: 1rem;
                color: var(--always-white);
                pointer-events: none;
                z-index: 10;

                p {
                    font-weight: bold;
                    font-size: 1.25rem;
                    margin-bottom: .5rem;
                }

                svg {
                    fill: var(--secondary-color);
                    stroke: var(--secondary-color);
                }

                .stars {
                    margin-right: 0.5rem;
                }
            }

        }

        &__body {

            ul {
                margin: 0;
                font-size: 0.9rem;
            }

            li {
                padding: 1rem;
                flex-grow: 1;
                border-bottom: 1px solid var(--secondary-color);
            }

            li:not(:last-child) {
                border-right: 1px solid var(--secondary-color)
            }

            li span {
                margin-left: 0.25rem;
            }

            .price {
                p {
                    color: var(--primary-color);
                    font-size: 1.75rem;
                    margin: 0;
                    font-weight: 900;
                }

                span {
                    font-weight: 300;
                    margin-left: 0.25rem;
                }
            }

            .description {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }
        }

    }
}

.newsletter {
    padding: 6rem 0;

    .container {
        gap: 2rem;
    }

    background: url('https://assets.website-files.com/62b01487555313003b71f4f1/62b1dcd838a6a72c8af9159e_gaetano-cessati-mlGM03fKONE-unsplash%20(1)%20(1)%20(1)%20(1).jpg');
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        color: var(--always-white);
    }

    form {
        margin-top: 2rem;
    }

    .form__content {
        max-width: 35rem;
        margin: 0 auto;
    }

    .form-group {
        position: relative;
        flex-basis: 60%;

        label {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(1rem, 1rem);
            z-index: 10;
            font-size: 1rem;
            color: #555;
            transition: all .3s ease-in-out;
            pointer-events: none;
        }
    }

    input[type="email"] {
        border-radius: .5rem 0 0 .5rem;
        flex-grow: 1;
        font-family: $font-title;
        font-size: 0.9rem;

        &:valid~label,
        &:focus~label {
            transform: translate(.25rem, -1.25rem);
            color: var(--always-white);
            font-size: .9rem;
        }
    }

    input[type="submit"] {
        height: 50px;
        border-radius: 0 .5rem .5rem 0;
        padding: .5rem .75rem;
        cursor: pointer;
        flex-grow: 1;

        &:hover {
            transform: none;
            background: linear-gradient(to left, var(--primary-color), var(--primary-color));
            @extend .shadow;
        }
    }
}

.tabs {
    nav {
        max-width: 800px;
        margin: 0 auto;
    }

    &__container {
        border-radius: .5rem;



        .grid {
            display: grid;
            gap: 0;
            grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
            margin-bottom: 2rem;
            max-width: 520px;
            margin: 2rem auto;
        }

        button {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 1.5rem 4rem;
            font-family: $font-title;
            color: var(--soft-white);

            span {
                letter-spacing: 5px;
                pointer-events: none;
            }

            svg {
                width: 2rem;
                height: 2rem;
                padding-bottom: 0.5rem;
                pointer-events: none;
            }

            &.active {
                background: linear-gradient(to left, var(--primary-color-hover), var(--primary-color));
                color: var(--always-white);
            }

        }
    }

    &__item {
        background-color: var(--always-white);
        color: #000;
        display: none;

        &.active {
            display: block;
        }
    }

    &__img {
        align-self: stretch;

        img {
            object-fit: cover;
        }
    }

    &__content {
        padding: 1rem;

        h4 {
            margin: 1rem 0;
        }

        p {
            opacity: .7;
            max-width: 32rem;
        }
    }

    .shadow {
        box-shadow: var(--shadow-color) 0px 3px 8px;
    }
}

@media (min-width: 768px) {
    .hero {
        img.bg-main {
            object-fit: unset;
        }

        img.bg-mid {
            top: 85%;
        }

        .text {
            font-size: 1.25rem;
        }
    }

    .tours {
        .card {
            &__body {
                ul {
                    font-size: 1rem;
                }
            }
        }
    }

    .tabs {
        &__item {
            .flex {
                align-items: center;
            }

            img {
                min-height: -webkit-fill-available;
            }
        }
    }

}

@media (min-width: 900px) {
    .hero {
        img.bg-front {
            height: initial;
        }

        img.bg-mid {
            left: 73%;
            top: 83%;
        }

        .text {
            font-size: 1.5rem;
            line-height: 4.5rem;
            top: 40%;
        }
    }

    .tabs {
        &__container {
            .grid {
                max-width: none;
            }
        }
    }

}

@media (min-width: 1024px) {
    .hero {
        img.bg-mid {
            top: 75%;
        }

        .text {
            font-size: 2rem;
            top: 37%;
        }
    }

    .tabs {
        &__img {
            flex-basis: 50%;
        }

        &__content {
            padding: 1rem 2rem;

            h4 {
                font-size: 2rem;
            }

            p {
                font-size: 1.1rem;
                max-width: 35rem;
            }
        }
    }
}