.tour {
    .card {
        border-radius: .25rem;
        overflow: hidden;
        order: -1;
        transition: all .3s linear;

        &:hover {
            transform: scale(1.05);
            @extend .shadow-atropos;
        }

        &__header {
            padding: 1rem 2rem;
            background: rgb(0, 153, 57);
            background: linear-gradient(112deg, var(--primary-color) 28%, var(--primary-color-hover) 100%);
            color: var(--always-white);

            h4 {
                font-family: $font-subtile;
                font-size: 2.5rem;
                margin: 1rem 0;
            }
        }

        &__body {
            padding: 1rem 2rem;

            h3 {
                font-family: $font-title;
            }

            p {
                opacity: .7;
                margin: .5rem 0 2rem 0;
            }

            .price {
                font-size: 1.5rem;

                .old-price {
                    opacity: .25;
                    text-decoration: line-through;
                    margin-right: 1rem;
                }

                .new-price {
                    font-weight: 900;
                }
            }

            .quantity {
                p {
                    margin-bottom: 0;
                }
            }

            hr {
                opacity: 0.25;
                margin: 0.5rem 0;
            }
        }
    }

    .shadow {
        box-shadow: var(--shadow-color) 0px 7px 29px 0px;
    }

    .container>.flex {
        flex-direction: column;
        gap: 1rem;
    }

    &__buttons {

        .grid {
            grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
            gap: 0;

        }

        span {
            pointer-events: none;
        }

        nav {
            background-color: var(--bg-color-hover);
            margin: 0 auto;

        }

        .btn {
            border-radius: initial;
        }

        .btn.active {
            color: var(--primary-color);
        }
    }

    &__tabs {
        transform: translateY(-1rem);
        overflow: hidden;

        h2 {
            font-size: 2rem;
            margin: 0 0 1rem 0;
            &:not(:first-child){
            margin: 3rem 0 1rem 0;
            }
        }
        ul{
            padding-left: 1.25rem;
        }
        li{
            list-style: circle;
        }

        .tab__item {
            background: var(--bg-color-hover);
            display: none;
            height: max-content;
            padding: 1.3rem;

            &.active {
                display: block;
            }
        }


        .gallery {

            div {
                padding: 1rem 0;
                transition: transform .2s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }


        .accordion {
            .accordion-item:not(:last-child) {
                border-bottom: 1px solid var(--soft-white);

                button[aria-expanded='true'] {
                    border-bottom: 1px solid var(--primary-color);
                }
            }

            button {
                position: relative;
                display: block;
                text-align: left;
                width: 100%;
                padding: 1em 0;
                color: var(--text-color);
                font-size: 1.15rem;
                font-weight: 400;
                border: none;
                background: none;
                outline: none;

                &:hover,
                &:focus {
                    cursor: pointer;
                    color: var(--primary-color);

                    &::after {
                        cursor: pointer;
                        color: var(--primary-color);
                        border: 1px solid var(--primary-color);
                    }
                }

                .accordion-title {
                    padding: 1em 1.5em 1em 0;
                }

                .icon {
                    display: inline-block;
                    position: absolute;
                    top: 18px;
                    right: 0;
                    width: 22px;
                    height: 22px;
                    border: 1px solid;
                    border-radius: 22px;

                    &::before {
                        display: block;
                        position: absolute;
                        content: '';
                        top: 10px;
                        left: 6px;
                        width: 10px;
                        height: 2px;
                        background: currentColor;
                    }

                    &::after {
                        display: block;
                        position: absolute;
                        content: '';
                        top: 6px;
                        left: 10px;
                        width: 2px;
                        height: 10px;
                        background: currentColor;
                    }
                }
            }

            button[aria-expanded='true'] {
                color: var(--primary-color);

                .icon {
                    &::after {
                        width: 0;
                    }
                }

                +.accordion-content {
                    opacity: 1;
                    max-height: 9em;
                    transition: all 200ms linear;
                    will-change: opacity, max-height;
                }
            }

            .accordion-content {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: opacity 200ms linear, max-height 200ms linear;
                will-change: opacity, max-height;

                p {
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }

    }

    aside {
        align-self: self-start;
    }

}

@mixin tour-768 {
    .tour {

        &__buttons {
            .grid {
                display: flex;
            }

            nav {
                margin: initial;
                max-width: fit-content;
            }
        }

        .gallery {
            columns: 2;
        }

    }
}

@mixin tour-1024 {
    .tour {
        .card {
            order: initial;
            max-width: 500px;
        }

        .container>.flex {
            flex-direction: row;
        }

        &__tabs {
            max-width: 500px;
        }

        aside {
            margin-top: 4.1rem;
            position: sticky;
            top: 100px;
        }

    }

}

@mixin tour-1200 {
    .tour {
        &__tabs {
            max-width: 700px;
        }

        .gallery {
            columns: 3;
        }
    }
}

@mixin tour-1360 {
    .tour {
        &__tabs {
            max-width: 900px;
        }
    }
}