<section class="why-ous">
  <div class="container">
    <header class="text-center">
      <h3 class="subtitle">Nos preocupamos por tu felicidad</h3>
      <h2 class="uppercase">¿Por qué viajas con nostros?</h2>
    </header>
    <div class="grid">
      <div class="atropos my-atropos">
        <div class="atropos-scale">
          <div class="atropos-rotate">
            <div class="atropos-inner shadow">
              <div class="card">
                <div class="card__img">
                  <img
                    src="https://assets.website-files.com/62b01487555313003b71f4f1/62bc5c213ad92a64c4d73e8c_happy-couple-laughing-traveling-summer-by-sea-man-woman-wearing-sunglasses%20(2)%20(1)%20(1)-p-500.jpeg"
                    alt=""
                  />
                </div>
                <div class="card__content text-center">
                  <div class="card__icon">
                    <img src="/images/icon-experience.png" alt="" />
                  </div>
                  <h4>+32 años de experiencia</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="atropos my-atropos">
        <div class="atropos-scale">
          <div class="atropos-rotate">
            <div class="atropos-inner shadow">
              <div class="card">
                <div class="card__img">
                  <img
                    src="https://assets.website-files.com/62b01487555313003b71f4f1/62bc5c213ad92a64c4d73e8c_happy-couple-laughing-traveling-summer-by-sea-man-woman-wearing-sunglasses%20(2)%20(1)%20(1)-p-500.jpeg"
                    alt=""
                  />
                </div>
                <div class="card__content text-center">
                  <div class="card__icon">
                    <img src="/images/icon-experience.png" alt="" />
                  </div>
                  <h4>+32 años de experiencia</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="atropos my-atropos">
        <div class="atropos-scale">
          <div class="atropos-rotate">
            <div class="atropos-inner shadow">
              <div class="card">
                <div class="card__img">
                  <img
                    src="https://assets.website-files.com/62b01487555313003b71f4f1/62bc5c213ad92a64c4d73e8c_happy-couple-laughing-traveling-summer-by-sea-man-woman-wearing-sunglasses%20(2)%20(1)%20(1)-p-500.jpeg"
                    alt=""
                  />
                </div>
                <div class="card__content text-center">
                  <div class="card__icon">
                    <img src="/images/icon-experience.png" alt="" />
                  </div>
                  <h4>+32 años de experiencia</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="atropos my-atropos">
        <div class="atropos-scale">
          <div class="atropos-rotate">
            <div class="atropos-inner shadow">
              <div class="card">
                <div class="card__img">
                  <img
                    src="https://assets.website-files.com/62b01487555313003b71f4f1/62bc5c213ad92a64c4d73e8c_happy-couple-laughing-traveling-summer-by-sea-man-woman-wearing-sunglasses%20(2)%20(1)%20(1)-p-500.jpeg"
                    alt=""
                  />
                </div>
                <div class="card__content text-center">
                  <div class="card__icon">
                    <img src="/images/icon-experience.png" alt="" />
                  </div>
                  <h4>+32 años de experiencia</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
