<section class="hero relative">
  <img
    src="images/bg-main.webp"
    class="parallax bg-main"
    data-speedx="0.05"
    data-speedy="0.02"
    data-speedz="0.62"
    data-zvalue="0"
    data-rotation="0"
    data-distance="00"
    aria-hidden="true"
  />

  <img
    src="images/bg-front.webp"
    class="parallax bg-front"
    data-speedx="0.0016"
    data-speedy="0.0654"
    data-speedz="0.017"
    data-zvalue="-1"
    data-rotation="0.2"
    data-distance="500"
    aria-hidden="true"
  />

  <img
    src="images/fog_1.webp"
    class="parallax fog-1"
    data-speedx="0.195"
    data-speedy="0.20"
    data-speedz="0"
    data-zvalue="0"
    data-rotation="0"
    data-distance="200"
    aria-hidden="true"
    id="fog-1"
  />
  <img
    src="images/bg-mid.webp"
    class="bg-mid parallax"
    data-speedx="0.0325"
    data-speedy="0.0300"
    data-speedz="0.62"
    data-zvalue="1"
    data-rotation="0.3"
    data-distance="400"
    aria-hidden="true"
    id="bg-mid"
  />
  <img
    src="images/bg-right.webp"
    class="bg-right parallax"
    data-speedx="0.01"
    data-speedy="0.0376"
    data-speedz="0.62"
    data-zvalue="1"
    data-rotation="0.3"
    data-distance="500"
    aria-hidden="true"
  />

  <img
    src="images/fog_3.webp"
    class="fog fog-3 parallax"
    data-speedx="0.25"
    data-speedy="0.142"
    data-speedz="0"
    data-zvalue="1"
    data-rotation="0"
    data-distance="100"
    aria-hidden="true"
    id="fog-3"
  />
  <img
    src="images/fog_2.webp"
    class="fog fog-2 parallax"
    data-speedx="0.07"
    data-speedy="0.003"
    data-speedz="0"
    data-zvalue="0"
    data-rotation="0"
    data-distance="300"
    aria-hidden="true"
    id="fog-2"
  />
  <div
    class="text parallax"
    data-speedx="0"
    data-speedy="0"
    data-speedz="0.5"
    data-zvalue="0.2"
    data-rotation="0"
    data-distance="70"
    aria-hidden="true"
    id="text"
  >
    <h1 class="container">
      Descubre <span>Sorto's Travel Multiservices</span> - Tu Destino para
      Viajes, Seguros y Trámites
    </h1>
  </div>
</section>
