---
import HeaderSections from "../HeaderSections.astro";
import CardWhyOus from "./CardWhyOus.astro";
---

<section class="why-ous">
  <div class="container">
    <HeaderSections
      subtitle="Nos preocupamos por tu felicidad"
      title="¿Por qué viajar con nostros?"
      isTitleFirst={false}
    />
    <div class="grid mt-1">
      <CardWhyOus
        title="+32 años de experiencia"
        iconUrl="/images/icon-experience.png"
        imgUrl="https://assets.website-files.com/62b01487555313003b71f4f1/62bc5c213ad92a64c4d73e8c_happy-couple-laughing-traveling-summer-by-sea-man-woman-wearing-sunglasses%20(2)%20(1)%20(1)-p-500.jpeg"
      />
      <CardWhyOus
        title="Presencia internacional"
        iconUrl="/images/icon-internacional.png"
        imgUrl="https://assets.website-files.com/62b01487555313003b71f4f1/62bc5c213ad92a64c4d73e8c_happy-couple-laughing-traveling-summer-by-sea-man-woman-wearing-sunglasses%20(2)%20(1)%20(1)-p-500.jpeg"
      />
      <CardWhyOus
        title="Amplia gama de servicios"
        iconUrl="/images/icon-multicast.png"
        imgUrl="https://assets.website-files.com/62b01487555313003b71f4f1/62bc5c213ad92a64c4d73e8c_happy-couple-laughing-traveling-summer-by-sea-man-woman-wearing-sunglasses%20(2)%20(1)%20(1)-p-500.jpeg"
      />
      <CardWhyOus
        title="Agencia de viajes 100% confiable"
        iconUrl="/images/icon-trust.png"
        imgUrl="https://assets.website-files.com/62b01487555313003b71f4f1/62bc5c213ad92a64c4d73e8c_happy-couple-laughing-traveling-summer-by-sea-man-woman-wearing-sunglasses%20(2)%20(1)%20(1)-p-500.jpeg"
      />
    </div>
  </div>
</section>
