body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1,
h2,
h4,
h5,
h6 {
    font-family: $font-title;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-family: $font-subtile;
}

h4 {
    font-size: 1.5rem;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

p {
    line-height: 1.5;
    opacity: .8;
}

a,
button {
    cursor: pointer;

}

svg {
    width: 1.25rem;
    height: 1.25rem;
}

img {
    max-width: 100%;
}

input {
    max-width: 100%;
    height: 48px;
    padding-left: 1rem;
    outline: none;
    border: none;
}

main {
    margin-top: 80px;
}

::placeholder {
    color: #555;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    gap: 1rem;
}

.block {
    display: block;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.absolute {
    position: absolute;
}

.shadow-atropos {
    box-shadow: var(--shadow-color) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.flex-grow {
    flex-grow: 1;
}

.w-full {
    width: 100%;
}

.scale-200 {
    transform: scale(1.1);
}

.w-screen {
    width: 100vw;
}

.h-screen {
    height: 100vh;
}

.mt-1 {
    margin-top: 1rem;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 3rem 0;
    z-index: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding: 0rem 1rem;
}

.inline-flex {
    display: inline-flex;
}

.font-bold {
    font-weight: bold;
}

.rotate-180 {
    transform: rotate(180deg);
}

.hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.gradient::after {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, .75) 100%, rgba(0, 0, 0, .75) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn {
    padding: 0.5rem .65rem;
    background: none;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: var(--text-color);
}


.btn-primary {
    background: linear-gradient(to left, var(--primary-color-hover), var(--primary-color));
    padding: 1rem 1.5rem;
    color: var(--always-white);
    border: none;
    transition: transform .1s ease-in-out;

    &:hover {
        transform: scale(1.10);
        background: linear-gradient(to left, var(--primary-color), var(--primary-color));
        @extend .shadow;
    }

    svg {
        padding-left: 0.5rem;
    }
}

.btn-secondary {
    background: transparent;
    padding: 1rem 1.5rem;
    color: var(--text-color);
    border: none;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.title {
    margin: 0;
}

.subtitle {
    color: var(--primary-color);
    margin: 0;
}

.flex-col-sm {
    flex-direction: column;
}

.shadow {
    box-shadow: var(--shadow-color) 1.95px 1.95px 2.6px;
}

.relative {
    position: relative;
}

.logo {
    svg {
        width: 6rem;
        height: 3rem;
        fill: var(--primary-color);
    }
}

@mixin base-768 {
    .flex-col-sm {
        flex-direction: row;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.75rem;
    }
}

@mixin base-1024 {
    .flex-row-lg {
        flex-direction: row;
    }
}