---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Aplicaciones y sitios web | Sorto's Travel Multiservices">
  <section>
    <div class="container">
      <h1>Aplicaciones y sitios web</h1>
    </div>
  </section>
</Layout>

<style></style>
