---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Boletos aéreos | Sorto's Travel Multiservices">
  <section>
    <div class="container">
      <h1>Boletos aéreos</h1>
    </div>
  </section>
</Layout>

<style></style>
 ../../layouts/Layout.jsx
