---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Trámites migratorios | Sorto's Travel Multiservices">
  <section>
    <div class="container">
      <h1>Trámites migratorios</h1>
    </div>
  </section>
</Layout>
