---
import Logo from "../components/header/Logo.astro";
---

<footer>
    <div class="container">
        <div class="grid">
            <div class="logo">
                <Logo />
                <p>
                    Deja que el mundo te sorprenda con Sorto's Travel
                    Multiservices. ¡Explora, descubre y vive aventuras únicas en
                    cada destino!
                </p>
            </div>
            <div class="travel">
                <h5>Asistencia de viajes</h5>
                <ul>
                    <li>
                        <a href="/servicios/boletos-aereos">Boletos aéreos</a>
                    </li>
                    <li>
                        <a href="/servicios/paquetes-turisticos"
                            >Paquetes turísticos</a
                        >
                    </li>
                    <li>
                        <a href="/servicios/seguros-de-viaje"
                            >Seguros de viaje</a
                        >
                    </li>
                </ul>
            </div>
            <div class="application">
                <h5>Procesos de solicitud</h5>
                <ul>
                    <li>
                        <a href="/servicios/asesoria-migratoria"
                            >Asesoría migratoria</a
                        >
                    </li>
                    <li>
                        <a href="/servicios/tramites-migratorios"
                            >Trámites migratorios</a
                        >
                    </li>
                    <li>
                        <a href="/servicios/abogado-y-notario"
                            >Abogado y notario salvadoreño</a
                        >
                    </li>
                </ul>
            </div>
            <div class="web">
                <h5>Servicios web</h5>
                <ul>
                    <li>
                        <a href="/servicios/aplicaciones-y-sitios-web"
                            >Aplicaciones y sitios web</a
                        >
                    </li>
                    <li>
                        <a href="/servicios/mantenimiento-web"
                            >Mantenimiento web</a
                        >
                    </li>
                    <li>
                        <a href="/servicios/posicionamiento-web"
                            >Posicionamiento web (SEO)</a
                        >
                    </li>
                </ul>
            </div>
            <div class="copy text-center w-full">
                <p>
                    &copy; Sorto's Travel Multiservices. Todos los derechos
                    reservados. Diseñado y desarrollado por <a
                        href="https://mrubi.vercel.app/"
                        target="_blank">Marcos Rubí</a
                    >
                </p>
            </div>
        </div>
    </div>
</footer>
