---
import Logo from "../components/header/Logo.astro";
import Menu from "../components/header/Menu.astro";
import Buttons from "../components/header/Buttons.astro";
---

<header class="main-header fixed top-0 left-0 w-full shadow">
  <div
    class="container relative flex flex-wrap items-center justify-between p-1"
  >
    <Logo />
    <Menu />
    <Buttons />
  </div>
</header>
